/* CSS commentaire */


body {
	background-color:#F5F7CD;
}

.idontkare
{
	
	margin: 10px;
	width:auto;
	height:auto;
	padding: 10px; /* s'additionne à width */
	float:left;

}
.boite_code {
	background-color:#ffffff;
	border-color:#000000;
	border-radius:10px;
	margin: 10px;
	width:auto;
	height:auto;
	padding: 10px; /* s'additionne à width */
	float:left;

}

.boite_code:hover {
	color:#ffffff;
	background-color:#000000;
	border-color:#ffffff;
	border-radius:10px;
	margin: 10px;
	width:auto;
	height:auto;
	padding: 10px; /* s'additionne à width */
	float:left;

}



.clear { /* Pour éviter que des div flottants passent par dessus une autre zone */
	clear:both;
}
